@import "tailwindcss";

:root {
  --primary: #2e7d32;
  --primary-light: #eaf5ea;

  --background: #fafcfa;
  --surface: #ffffff;

  --text: #111827;
  --text-light: #4b5563;

  --border: #e5e7eb;

  --shadow: 0 10px 40px rgba(0, 0, 0, 0.06);

  --radius: 18px;
}


body {
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}
